@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@300&display=swap');

/* CORPO E TAGS ISOLADAS */
body {
    background-color: #72FDb8;

}

h1 {
    font-family: monospace;
    color: #04F17A;
    text-decoration: underline;
}

p {
    font-family: monospace;
}


a {
    color: inherit;
}

/* MENU */

div#upBar { 
    background-color: #3F5E5A;
    padding: 5px;
}

ul.menu {
    list-style: none;
    position: absolute;
    padding-left: 70%;
    top: 2.5%;
}

ul.menu li{
    display: inline;
}

ul.menu a {
    color: #72FDb8;
    background-color: #3F5E5A;
    padding: 5px;
    font-size: 20px;
     
}

a.menu-options:hover {  

    background-color: #04F17A;
    padding-top: 5px;
    color: black;

}

/* ESTILO POTFÓLIO PRINCIPAL*/

#port-title {
    background-color: #3F5E5A;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#port-title h2 {
    color: #04F17A;
    text-decoration: underline;
}

#port-title p{
    line-height: 25px;
}

#tryber a{
    text-decoration: underline;
}

#tryber:hover {
    background-color: #04F17A;
    padding: 2px;
}

.my-github:hover{
    background-color: #ADBAC7;
    padding: 2px;
}


/* ESTILO DAS LISTAS*/

.list-style {
    background-color: #3F5E5A;
    list-style: none;
}

.habilidades-style {
    text-decoration: underline;
}

ul.habilidades{
    padding: 5px;
}

.section-lang{
    margin: auto;
    width: 350px;
    background-color: #3F5E5A;
    padding: 3px;
    text-align: center;
    
}

.section-lang h4 {
    color: #04F17A;
    text-decoration: underline;
    font-family: monospace;
}

ul.lang-skills {
    padding: 10px;
}

ul.lang-skills li{
    display: inline;
    font-weight: bold;
    font-family: monospace;
    
}


/* SOBRE MIM GERAL */

img {
    border-radius: 100%;
    margin-left: 43%;
}


.myself h1, h2, p{
    text-align: center;
    
}

#about-me {
    color: #04F17A;
    background-color: #3F5E5A;
    padding: 10px;
    text-decoration: underline;
    font-family: monospace;
}

/* LINKS ABOUT ME*/

.nerdpower:hover{
    background-color: rgb(55, 91, 255);
    padding: 5px;
}

/* FOTO E TEXTO */

.image-block {

    display: inline-block;
}

.image-style{

    padding: 30px;
    width: 10%;

}

.image-style img{ 
    padding: 10px;
    background-color: #02793D;
}

.content-block {
    margin-top: 5%;
    position: absolute;
    background-color: #3F5E5A;
    padding: 5px 10px;
    margin-left: 12%;  
      
}
