@charset "UTF-8";


body {
    background-color: #72FDb8;

}

h1 {
    font-family: Arial;
    color: #04F17A;
    text-decoration: underline;
    
}


a {
    color: inherit;
}

div#upBar { 
    background-color: #02793D;
    padding: 5px;
}


#menu {
    padding-right: 30px;
    position: fixed;
    background-color: #3F5E5A;
    left: 60%;
    top: 0px;
}

nav#menu ul{
    list-style: none;
}

nav#menu li{
    padding: 5px;
    display: inline;
}

.list-style {
    background-color: #3F5E5A;
    list-style: none;
}

#about-me {
    color: #04F17A;
    background-color: #3F5E5A;
}